body{
    background-image: url(student_end.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.container{
    color: white;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header header header sidebar"
    "main1 main1 main1 sidebar"
    "main2 main2 main2 sidebar"
    "footer footer footer footer " ;
}

.container{
    font-style: italic;
    font-size: x-large;
}
.header{
 grid-area: header;
 border: 1px solid white;
 font-variant-caps: small-caps;
    
}
header:hover{
 opacity: 70%;
 background-color: black;
 border: 1px solid ;
 padding: 1px;
 border-radius: 50px 20px;
 box-shadow: 10px 20px 30px white;
 text-shadow: 9px 11px 3px;
}

.main1{
    display: flex;
    flex-direction: row;
    grid-area: main1;
    font-variant-caps: small-caps;
}
.main1:hover{
    opacity: 70%;
    background-color: black;
    border: 1px solid ;
  padding: 1px;
  border-radius: 50px 20px;
  box-shadow: 10px 20px 30px white;
  text-shadow: 9px 11px 3px;
}
.main2{
    
    display: flex;
    flex-direction: row;
    grid-area: main2;
}
.main2:hover{
    opacity: 70%;
    background-color: black;
    border: 1px solid ;
  padding: 1px;
  border-radius: 50px 20px;
  box-shadow: 10px 20px 30px white;
  text-shadow: 9px 11px 3px;
}
.sidebar{
    grid-area: sidebar;
    width: 60%;
    height: 110vh;
    text-align: center;
}
.sidebar:hover{
    opacity: 70%;
    background-color: black;
    border: 1px solid ;
  padding: 1px;
  border-radius: 50px 20px;
  box-shadow: 10px 20px 30px white;
  text-shadow: 9px 11px 3px;
}
.footer{
    grid-area: footer;
    color: blue;
    
}
.footer:hover{
    opacity: 70%;
    background-color: black;
    border: 1px solid ;
  padding: 1px;
  border-radius: 50px 20px;
  box-shadow: 10px 20px 30px white;
  text-shadow: 9px 11px 3px;
}
.p_footer{
    display: flex;
    justify-content: space-around;
}
/* index_2 */

.body_2{
    width: 100%;
    margin: 2px;
    padding: 2px;
    box-shadow: 2px 2px 2px 2px black;
    font-size: 30px; 
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    display: grid;
    grid-template-areas: 
    "bod_1 bod_2 bod_3"
    "bod_1 bod_2 bod_3"
    "bod_1 bod_2 bod_3"
     ;
}
.bod_1{
    width: 100%;
    grid-area: bod_1;
    
}
.bod_2{
    width: 100%;
    grid-area: bod_2;
}
.bod_3{
    width: 100%;
    grid-area: bod_3;
}

.highschool img:hover{
    filter: brightness(100%);
    transform: rotate(10deg) scale(1.1);
    transition: all 1s ease-in-out;
}
.highschool h1:hover{
  color: deepskyblue;
  position: relative;
  animation: text1 5s infinite;

}

@keyframes text1 {
    from {left: 0px;}
    to {left: 150px;}
  }



.highschool{
    
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 768px){
    .highschool{
        flex-direction: row;
    }
}
/* index_3 */

.body_3{
    background-color: gray;
    color: khaki;
    opacity: 60%;
    font-size: x-large;
}    
